
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color:#EBC7BE;
}

.quem-somos{
    background-color:#EBE3E1;
    color: #43403B;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #D7C7E1;
    color: #43403B;
}

.bg-footer{
    background-color: rgb(164, 182, 216);
    color: #43403B;
}

.servicos{
    color: #43403B;
}